In [ ]:
def function_name():
    # Do something here

In [2]:
# create function to hello world
def hello_world():
  print("hello")
  print("class")

In [3]:
hello_world()

hello
class

In [4]:
def repitative_task():
  pass
  #steps which are recurring

In [5]:
repitative_task()

In [6]:
#addition of two numbers
#passing the parameters to a function
def addition(a,b):
  print(a+b)

In [7]:
addition(2,5)

7

In [8]:
def greet(name):
    print("Hello, " + name + "!")

In [9]:
greet("Suresh")

Hello, Suresh!

In [10]:
#addition of numbers
def addi(a,b):
  return a+b

In [11]:
c=addi(2,5)

In [12]:
print(c)

7

In [18]:
def addi(a=0,b=0):
  return a+b

In [19]:
addi()

0

In [23]:
list_numbers = [1,2,3,4,5,6,7]

In [35]:
def addition_list(l):#l is a list of number
  s = 1
  for i in l:
    print("i is ",i)
    print("old s is ",s)
    s = s*i
    print("new s is ",s)
  print("total is ",s)

In [36]:
addition_list(list_numbers)

i is  1
old s is  1
new s is  1
i is  2
old s is  1
new s is  2
i is  3
old s is  2
new s is  6
i is  4
old s is  6
new s is  24
i is  5
old s is  24
new s is  120
i is  6
old s is  120
new s is  720
i is  7
old s is  720
new s is  5040
total is  5040

In [ ]:
"""
1st time the of s is 0 and i is 1, the new s value is 0+1=1
2nd time the value of s is 1 and i is 2, the new s value is 1+2=3

In [27]:
def greet(name):
    print("Hello, " + name + "!")

In [28]:
greet("Madhavi")

Hello, Madhavi!

In [29]:
def add_numbers(num1, num2):
    return num1 + num2


result = add_numbers(7, 8)
print(result)

15

In [31]:
#Write a function that takes three numbers and returns the largest one.
def largest(num1,num2,num3):
  if num1>num2:# comparing num1 and num2 and find bigger one of those both
    if num1>num3:# comparing the bigger one with num3
      return num1
    else:
      return num3
  else:
    if num2>num3:
      return num2
    else:
      return num3

In [33]:
bignum = largest(3,2,5)

In [34]:
print(bignum)

5