In [ ]:
weather = "rainy"

if weather == "sunny":
    print("Wear shorts!")
    print("check statement")
    print("hello")
elif weather == "rainy":
    print("Wear a raincoat!")
elif weather == "cold":
    print("waer a sweater")
else:
    print("Wear a normal clothes!")
print("outside if statement")

Wear a raincoat!
outside if statement

In [ ]:
weather = "wind"
temperature = "cold"

if weather == "sunny":
    if temperature == "hot":
        print("Wear shorts!")
    else:
        print("Wear a light jacket!")
else:
    if weather == "rainy":
        print("Take an umbrella!")
    else:
        print("Wear something normal!")

Wear something normal!

SyntaxError: invalid syntax (<ipython-input-10-801e126827a8>, line 1)

In [ ]:
if weather=="sunny":
  print("shorts")
else:
  print("normal")

normal

In [ ]:
2==4

False

In [ ]:
2==2

True

In [ ]:
a=12
b=14

if a==b:
  print("yes")
else
  print("no")

SyntaxError: expected ':' (<ipython-input-21-00a2b7246224>, line 6)

In [ ]:
a!=b

True

In [ ]:
a>b

False

In [ ]:
a<b

True

In [ ]:
a<=b

True

In [ ]:
a=12
b=12
a<=b

True

In [ ]:
a>=b

True

In [ ]:
from re import X
if <condition> :
  if the above condition is true these below will Execute
  a
  v
  c

else:
  these will execute
  abs
  b
  X

In [ ]:
age = 12

if age >= 13:
    print("You can watch a PG-13 movie!")
else:
    print("You are too young to watch a PG-13 movie.")

You are too young to watch a PG-13 movie.

In [ ]:
print("hi")
print("hi")
print("hi")
print("hi")
print("hi")

hi
hi
hi
hi
hi

In [ ]:
for i in range(5):
  print("hi")

hi
hi
hi
hi
hi

In [ ]:
for loop and while loop

In [ ]:
# List of fruits
fruits = ["apple", "banana", "cherry"]

# Loop through each fruit and print it
for x in fruits:
    print(x)
    print("hi")

print("end loop")

apple
hi
banana
hi
cherry
hi
end loop

In [ ]:
number = 1

while number <= 5:#6<=5 as this is false
    print(number)
    print("hello")
    number = 2 + 1 # number = 2 + 1 the new value of number will become 3
    #new value number is 3
    #last itiration number = 5+1 ie 6
print("end loop")

1
hello
2
hello
3
hello
4
hello
5
hello
end loop

In [ ]:
number = 1
number = number + 1
print(number)

2

In [ ]:
var = "value"
var = var + "value"
#interpretation of python
var = "value" + "value"

var

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#range(a,b)=[a, a+1,a+2,....,b-1] condition to remember for range a<b

In [ ]:
for i in range(1, 6):
    print(i)#1st statment
    break#2nd statment
    print(i)#3rd statment
#outside side the loop

print("end loop")

1
end loop

In [ ]:
# continue example
for i in range(1, 6):
    if i == 3:
        print("now i is 3")
        continue  # Skips printing 3 and goes to the next number
    print(i)
    print("hello")

1
2
now i is 3
4
5

In [ ]:
for i in range(1,6):
  print(i)# 1st
  print("hi")#2nd
  continue#3rd
  print("hello")#4th

1
hi
2
hi
3
hi
4
hi
5
hi

In [ ]:
for i in range(1, 6):
    if i == 3:
        pass  # Does nothing special when i is 3
    print(i)

1
2
3
4
5

In [ ]:
for i in range(1,6):
  pass

In [ ]:
if a<b:
  pass

In [ ]:
#conditional statement that if, elif, else
# conditional operators ==,!=, <, >, <=, >=
#loops for, while
#loop control statements those are break, continue, pass